@font-face {
  font-family: 'MedievalFonts';
  src: url('MedievalSharp.ttf') format('truetype');
}
body {
  font-family: 'MedievalFonts', sans-serif;
}
h1 {
  font-size: 24px;
  text-align: center;
}
h2 {
  font-size: 22px;
  text-align: center;
}
footer {
  background-color: #a9a9a9;
  padding: 20px;
  text-align: center;
}
header {
  background-color: #a9a9a9;
  padding: 20px;
  text-align: center;
  height: 35px
}
.DS34 {
  font-size: 32px;
  width: auto;
  height: 5%;
}
main {
  margin-top: 25vw;
}
body {
  background-image: url("caminho/para/sua-imagem.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}
